# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [1]:
latitude_NY = 40.7128
longitude_NY = -74.0060
population_NY = 8336817
area_NY = 783.8

In [4]:
population_NY_km2 = int(population_NY / area_NY)
print(f"The population density of New York is {population_NY_km2} per km^2")

The population density of New York is 10636 per km^2

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [13]:
city = "San Francisco"

In [14]:
city_lc = city.lower()
print(city_lc)

san francisco

In [15]:
city_uc = city.upper()
print(city_uc)

SAN FRANCISCO

Replacing strings in a string variable:

In [9]:
new_city_a = city.replace("San", "Los")
print(new_city_a)

Los Francisco

In [18]:
new_city_b = "Los" + city[3:]
print(new_city_b)

Los Francisco

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [78]:
list_tuple_city_coordinates = [
    ("New York City", (40.7128, -74.0060)),
    ("Los Angeles:", (34.0522, -118.2437)),
    ("Chicago", (41.8781, -87.6298)),
]

print(list_tuple_city_coordinates,"\n")
print(f"Extracting the latitude of NY: {list_tuple_city_coordinates[0][1][0]}")

[('New York City', (40.7128, -74.006)), ('Los Angeles:', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]

Extracting the latitude of NY: 40.7128

Trying understand classes part 1

In [4]:
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def __str__(self):
        return f"Dog named {self.name}, age {self.age}"

# Creating a dog object
my_dog = Dog("Buddy", 3)

# Using the str method
print(str(my_dog)) 
print(my_dog)

Dog named Buddy, age 3
Dog named Buddy, age 3

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [19]:
tup_eiffel = (48.8584, 2.2945)
print(tup_eiffel[0])

48.8584

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [26]:
visited_countries ={"France", "Germany"}
visited_countries.add("Spain")
print(visited_countries)

visited_countries.add("Germany")
print(visited_countries)

{'France', 'Germany', 'Spain'}
{'France', 'Germany', 'Spain'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [30]:
geos_features = {
    "Type" : "River",
    "Name" : "Amazon",
    "Length" : 6400, # km,
    "Countries" : ["Brazil", "Peru", "Colombia"]}

geos_features

{'Type': 'River',
 'Name': 'Amazon',
 'Length': 6400,
 'Countries': ['Brazil', 'Peru', 'Colombia']}

In [32]:
# Adding a key -pair value

geos_features["Discharge"] = 209000 # m^3/s

#Updating Amazon's length

geos_features["Length"] = 6992 

geos_features

{'Type': 'River',
 'Name': 'Amazon',
 'Length': 6992,
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Discharge': 209000}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [44]:
cities = {
    "Name" : "Tokyo",
    "Population" : 13515271,
    "Coordinates" : (35.6895, 139.6917)
}

print(cities["Population"])
print(cities["Coordinates"].__getitem__(0))
print(f"Latitude Tokyo is: {cities['Coordinates'][0]}")

13515271
35.6895
Latitude Tokyo is: 35.6895

In [45]:
#how to make that a dictionary uses notation . /or use Pandas

class DotDict(dict):
    """dot.notation access to dictionary attributes

    Args:
        dict (_type_): Dictionary object
    """    

    def __getattr__(self, attr):
        try:
            return self[attr]
        except KeyError:
            raise AttributeError("Attribute not found")
     
    def __setattr__(self, attr, value):
        self[attr] = value

    def __delattr__(self, attr):
        try:
            del self[attr]
        except KeyError:
            raise AttributeError(f"'DotDict' object has no attribute '{attr}'")

# Example usage
data = DotDict({'name': 'Alice', 'age': 25})

# Accessing values using dot notation
print(data.name)  # Output: Alice
print(data.age)   # Output: 25

# Setting values using dot notation
data.city = 'New York'
print(data.city)  # Output: New York

# Deleting values using dot notation
del data.age
print(data)

Alice
25
New York
{'name': 'Alice', 'city': 'New York'}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [73]:
l_sorted = sorted(list_tuple_city_coordinates)
print(l_sorted)

print(list_tuple_city_coordinates) #sorted does not modify the list

list_test = list_tuple_city_coordinates.copy() #copy the list
list_test.sort()  #if we want to make it work with the .sort() method we need to call sort we need to call it on the list itself
print(list_test)

[('Chicago', (41.8781, -87.6298)), ('Los Angeles:', (34.0522, -118.2437)), ('New York City', (40.7128, -74.006))]
[('New York City', (40.7128, -74.006)), ('Los Angeles:', (34.0522, -118.2437)), ('Chicago', (41.8781, -87.6298))]
[('Chicago', (41.8781, -87.6298)), ('Los Angeles:', (34.0522, -118.2437)), ('New York City', (40.7128, -74.006))]

In [103]:
#Extracting the city names from the list of tuples wit a for list comprehension
list_city_name = {city[0] for city in list_tuple_city_coordinates}
list_city_name

{'Chicago', 'Los Angeles:', 'New York City'}

In [104]:
#ziping the list of tuples to extract the city names, _ is a throwaway variable but if change for coordinates
#we can extract the coordinates

list_city_name_2, _ = zip(*list_tuple_city_coordinates)
list_city_name_2

('New York City', 'Los Angeles:', 'Chicago')

In [105]:
l_cleaned = list(list_city_name_2)#we can't delete an element from a tuple, we need to convert it to a list
del l_cleaned[0]
print(sorted(l_cleaned))

['Chicago', 'Los Angeles:']

In [106]:
l_cleaned.insert(3, "Bogota")
l_cleaned

['Los Angeles:', 'Chicago', 'Bogota']

In [107]:
l_cleaned.remove("Los Angeles:")
l_cleaned

['Chicago', 'Bogota']

In [123]:
#adding date using slicing

l_cleaned[3:3] = ["New York"]  #needs to be inside [] otherwise each character will be
#added as a separate element
print(l_cleaned)

['Chicago', 'Bogota', 'New York', 'New York', 'New York', 'New York', 'Medellin']

In [126]:
l_cleaned = l_cleaned[:5] + ["Medellin"]
l_cleaned

['Chicago', 'Bogota', 'New York', 'New York', 'Medellin', 'Medellin']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [115]:
geos_features = {
    "Type" : "River",
    "Name" : "Amazon",
    "Length" : 6400, # km,
    "Countries" : ["Brazil", "Peru", "Colombia"]}

geos_features

if "Length" in geos_features.keys():
    print("Length is a key in the dictionary")
else:
    print("Length is not a key in the dictionary")

Length is a key in the dictionary

In [118]:
print(geos_features.keys())
print(geos_features.values())

dict_keys(['Type', 'Name', 'Length', 'Countries'])
dict_values(['River', 'Amazon', 6400, ['Brazil', 'Peru', 'Colombia']])

In [131]:
# Example dictionary
city_coordinates = {
    "New York City": (40.7128, -74.006),
    "Los Angeles": (34.0522, -118.2437),
    "Chicago": (41.8781, -87.6298)
}

# Check if a key exists-->this wont work
if 40.7128 in city_coordinates:
    print("Key exists")
else:
    print("Key does not exist")

#this one will work
if (40.7128, -74.006) in city_coordinates.values():
    print("Value exists")

Key does not exist
Value exists

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [145]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [146]:
new_locations, lat, lon = zip(*locations)
print(type(new_locations)) 

l_locations = list(new_locations)
print(l_locations)

<class 'tuple'>
['Mount Everest', 'K2', 'Kangchenjunga']

In [148]:
#Creating a dictionary from a list of tuples
#unpacking the tuples
place1, lat1, lon1 = locations [0]
place2, lat2, lon2 = locations [1]
place3, lat3, lon3 = locations [2]

places = [place1, place2, place3]
coordinates = [(lat1, lon1), (lat2, lon2), (lat3, lon3)]

dict_locations = dict(zip(places, coordinates))
print(dict_locations)

{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475)}

In [149]:
#Latitude K2
dict_locations["K2"][0]

35.8808

In [ ]:
#how to do the previous exercise with a for loop

# Initial list of tuples
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

# Extract names and coordinates using list comprehensions
names = [location[0] for location in locations]
coordinates = [(location[1], location[2]) for location in locations]

# Create the dictionary
location_dict = dict(zip(names, coordinates))

print(location_dict)

In [150]:
#Found in documentation

# Example list of names
names = ["Alice", "Bob", "Charlie", "David"]

# Create a dictionary using list indices as keys
name_dict = {index: name for index, name in enumerate(names)}

print(name_dict)

{0: 'Alice', 1: 'Bob', 2: 'Charlie', 3: 'David'}

In [151]:
names[0]

'Alice'

In [153]:
#now doing with for loop 

dict_locations_1 = {}
names = []
coordinates= []

for location in locations:
    name, lat, lon = location
    names.append(name)
    coordinates.append((lat, lon))

#dict_locations_1 = dict(zip(names, coordinates))
# hard way


for i in range(len(names)):
    dict_locations[name[i]] = coordinates[i]

print(dict_locations)

{'Mount Everest': (27.9881, 86.925), 'K2': (35.8808, 76.5155), 'Kangchenjunga': (27.7025, 88.1475), 'K': (27.9881, 86.925), 'a': (35.8808, 76.5155), 'n': (27.7025, 88.1475)}